<article class="twit">
  <div class="twit-icon">
    <i class="fa fa-bullhorn"></i>
  </div>
  <div class="twit-content">

    <p class="twit-attribution">
      <a href="/twits/{{@key}}">{{name}}</a>
    </p>
  </div>
</article>
